<!-- 可在此base.html中写入导航，侧边栏组件，利用Django的继承机制，其他页面-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Jquery和Bootstrap组件库css样式已导入-->>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../static/app/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/app/js/jquery-3.7.0.min.js"></script>
    <link href="../../static/app/css/bootstrap.min.css" rel="stylesheet">
    <title>{%block title%}Document{%endblock title%}</title>
    {%block head%}{%endblock head%}
</head>
<body>
    {%block body%}{%endblock body%}
</body>
</html>
